<!-- Inicia Header  -->
<app-header></app-header>
<!--  termina Header    -->


<div class="buscador flex"><img src="assets/img/buscador-institucionmdpi.png"> Búsqueda por palabra clave
    <input class="busqueda" #palabra (keyup.enter)="buscar(palabra.value)" type="text" placeholder="Introducir criterio de búsqueda">
    <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" name="boton-buscar-articulo" alt="Buscar" />
</div>

<div class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <div class="seleccionado alinear" (click)="limpiarDatos()"><img src="assets/img/articulos-act.png">Articulos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div class="seleccionado"><img src="assets/img/lista-act.png">Tabla </div>
        <div class="cursor" [routerLink]="['/busqueda-pal-clav/',total.palabra]"><img src="assets/img/tarjetas.png">Lista </div>
    </div>
</div>

<!--  Filtros menu  -->
<div class="grid-container">
    <div class="item2">
        <app-filtpalclav></app-filtpalclav>
    </div>

    <!-- Termina Filtros menu   -->
    <div class="item3">
        <div>
            <p class="texto-formato tamaño-resul-pal">Resultados para: {{total.palabra}} </p>
            <p class="texto-formato tamaño-resul-busqueda" [attr.colspan]="total.total"> Resultados de la Busqueda: {{ total.total}} </p>
        </div>

        <app-globitos-pal-clav></app-globitos-pal-clav>

        <div class="flex-containercont">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" colspan="3">Título</th>
                        <th scope="col" colspan="2">Autores</th>
                        <th scope="col" colspan="2">Revista<img (click)="reversa('nombreRevista',true)" [src]="imagenR" align="right" /></th>
                        <th scope="col">Número<img (click)="reversa('anio',true)" [src]="imagenN" align="right" /></th>
                        <th scope="col">Texto Completo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos">
                        <td colspan="3">{{ articulo.tituloArt }}</td>
                        <td colspan="2">{{ articulo.autores }}</td>
                        <td colspan="2">{{ articulo.nombreRevista }}</td>
                        <td>{{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }})</td>
                        <td *ngIf="articulo.dominio === 'https://www.redalyc.org' && articulo.origen === 'XML'">
                            <div class="grid">
                                <div>
                                    <a class="resumen" href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank"><b>PDF</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/html/index.html" target="_blank"><b>HTML-R</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/{{articulo.claveArt}}.epub" target="_blank"><b>ePUB-R</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/movil/index.html" target="_blank"><b>MÓVIL-R</b></a>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="articulo.dominio === 'https://www.redalyc.org' && !(articulo.origen === 'XML')">
                            <div>
                                <div>
                                    <a class="resumen" href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank"><b>PDF</b></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <app-paginador-pal-clav></app-paginador-pal-clav>

    </div>
</div>

<app-footer></app-footer>