<!-- Inicia Header  -->
<app-header></app-header>
<!--  termina Header    -->


<div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 40px; ;"> Busqueda General
    <input #palabra (keyup.enter)="buscar(palabra.value)" style="width: 30%; background-image: url(assets/img/buscador.png);  " type="text">
    <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" name="boton-buscar-articulo" alt="Buscar" />
</div>

<div class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png" style="margin: 10px;">Filtros de Busqueda</div>
       
        <div (click)="limpiarDatos()"><img src="assets/img/articulos.png" style="margin: 10px;">Articulos de revista</div>
        <div style="margin-left: 40%;">Modo de visualizar resultados </div>
        <div><img src="assets/img/lista.png" style="margin: 10px;">Lista </div>
        <div class="cursor" [routerLink]="['/busqueda-pal-clav/',total.palabra]"><img src="assets/img/tarjetas.png" style="margin: 10px;">Tarjetas </div>
    </div>
</div>

<!--  Filtros menu  -->
<div class="grid-container">
  <div class="item2">
    <app-filtpalclav></app-filtpalclav>    
  </div>

    <!-- Termina Filtros menu   -->
    <div class="item3">
        <div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;">
            <p style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;" >Resultados para: {{total.palabra}} </p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;" [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> Resultados de la Busqueda: {{ totalResultados}} </p>
        </div>
        <app-globitos-pal-clav></app-globitos-pal-clav>
        
        <div *ngIf="totalResultados < 1" class="no-resultados">
            no hay resultados.
        </div>
        <div *ngIf="totalResultados >= 1">


        <div class="flex-containercont">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" colspan="3">Título</th>
                        <th scope="col" colspan="2">Autores</th>
                        <th scope="col" colspan="2">Revista<img (click)="reversa('nombreRevista',true)" [src]="imagenR" align="right" /></th>
                        <th scope="col">Número<img (click)="reversa('anio',true)" [src]="imagenN" align="right" /></th>
                        <th scope="col">Texto Completo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos">
                        <td colspan="3">{{ articulo.tituloArt }}</td>
                        <td colspan="2">{{ articulo.autores }}</td>
                        <td colspan="2">{{ articulo.nombreRevista }}</td>
                        <td>{{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }})</td>
                        <td *ngIf="articulo.dominio === 'https://www.redalyc.org' && articulo.origen === 'XML'">
                            <div class="grid">
                                <div>
                                    <a class="resumen" href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank"><b>PDF</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/html/index.html" target="_blank"><b>HTML-R</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/{{articulo.claveArt}}.epub" target="_blank"><b>ePUB-R</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/movil/index.html" target="_blank"><b>MÓVIL-R</b></a>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="articulo.dominio === 'https://www.redalyc.org' && !(articulo.origen === 'XML')">
                            <div>
                                <div>
                                    <a class="resumen" href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank"><b>PDF</b></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>

       <app-paginador-pal-clav></app-paginador-pal-clav>

    </div> 


</div>
<app-footer></app-footer>