
    <div class="flex-containercont">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Autores<img (click)="reversa('nombreRevista',true)" [src]="imagen" align="right" /></th>
                    <th scope="col">Revista<img (click)="reversa('nombreRevista',true)" [src]="imagen" align="right" /></th>
                    <th scope="col">Número<img (click)="reversa('nombreRevista',true)" [src]="imagen" align="right" /></th>
                    <th scope="col">Resumen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articulo of articulos">
                    <td>{{ articulo.tituloArt }}</td>
                    <td>{{ articulo.autores }}</td>
                    <td>{{ articulo.nombreRevista }}</td>
                    <td>{{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }})</td>
                    <td>
                        <div class="grid">
                            <div>
                                <a href="" class="resumen"><b>Resumen</b></a>
                            </div>
                            <div>
                                <a href="" class="resumen"><b>Abstract</b></a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
