<div class="item4">
    <div id="contendor-footer">
        <div id="instituciones-footer">
            <div>
                <a href="#"><img src="assets/img/ic-amelica-footer.png" /></a>
            </div>
            <div>
                <a href="#"><img src="assets/img/ic-unesco-footer.png" /></a>
            </div>
            <div>
                <a href="#"><img src="assets/img/ic-clacso-footer.png" /></a>
            </div>
            <div>
                <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
            </div>
        </div>
        <div id="resumen-footer" style="width: 40%">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived</div>


    </div>
</div>