<div class="item4">
    <div id="rectangulo-footer">
        <div id="instituciones-rect">
            <div>
                <a href="#"><img src="assets/img/shuttleworth foundation.png" /></a>
            </div>
         
          
            <div>
                <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
            </div>
            <div id="resumen-footerec" style="width: 40%; font-size:10pt;" ><p>Acceso Abierto sin fines de lucro propiedad de la academia</p>
                <p>Colección de Conocimiento Ancestral 2020 | Versión 1.0</p> 
                <p>Tecnología Redalyc</p>
            </div>

            <div>
                <a href="#"><img src="assets/img/escudo-uaem.png" /></a>
            </div>
        </div>
        
    </div>
</div>