<div id="" class="header">
    <div style="color: #fff !important; display: flex; ">
        <div id="logo-CA" style="width: 50%;">
            <a href="#"><img src="assets/img/conocimiento-ancestral.png" alt=""></a>
            <a href="https://www.redalyc.org/"><img src="assets/img/redalyc.png" alt=""></a>
        </div>
        <div id="menu">
            <div id="contenedor-menu">
                <a href="https://www.redalyc.org/redalyc/acerca-de/mision.html" class="option-menu">Acerca de
                    Redalyc</a>
                <a [routerLink]="['/acerca-de']" class=" option-menu">Proyecto Conocimiento Ancestral</a>
            </div>
            <div id="logos " style="width: 25%; ">
                <a href="# "><img class="logos" src="assets/img/ic-home.png " alt=" "> </a>
                <a href="https://www.facebook.com/Redalyc/"><img class="logos" src="assets/img/ic-facebook.png " alt=" "></a>
                <a href="https://twitter.com/Redalyc"><img class="logos" src="assets/img/ic-twitter.png " alt=" "></a>
            </div>

        </div>
    </div>

</div>