<div class="grid-containerh">
    <div class="item1">
        <div style="padding-left: 5%; margin: 5px 10px;">Colección <strong>Conocimiento Ancestral</strong></div>
        <div style="padding-left: 45%; margin: 5px 10px;;">Acerca de AmeliCA</div>
        <div style="margin: 5px 10px;">Proyecto Conocimeinto Ancestral</div>
        <div style="margin: 0px 10px;"><img src="assets/img/ic-home.png" alt=""></div>
        <div style="margin: 0px 10px;"><img src="assets/img/ic-facebook.png" alt=""></div>
        <div style="margin: 0px 10px;"><img src="assets/img/ic-twitter.png" alt=""></div>
    </div>
</div>