<div class="grid-containerh">
    <div class="item1">
        <div class="margen-header titulo">
            <a href="#"><img src="assets/img/conocimiento-ancestral.png" alt=""></a>
            <a href="http://amelica.org/"><img src="assets/img/ameliCA.png" alt=""></a>
            <a href="https://www.redalyc.org/"><img src="assets/img/redalyc.png" alt=""></a>
        </div>
        <div class="sub-header margen-header">
            <a class="acerca-amelica" href="http://amelica.org/index.php/que-es-ameli/#que-es" target="_blank">
                <p class="cursor">Acerca de AmeliCA</p>
            </a>
        </div>
        <div class="margen-header">
            <p [routerLink]="['/acerca-de']" class="cursor">Proyecto Conocimiento Ancestral</p>
        </div>
        <div class="margen-header"><img src="assets/img/ic-home.png" alt=""></div>
        <div class="margen-header"><img src="assets/img/ic-facebook.png" alt=""></div>
        <div class="margen-header"><img src="assets/img/ic-twitter.png" alt=""></div>

    </div>
</div>