<div id="mySidebar" class="sidebar">
    <a class="closebtn" onclick="closeNav()">×</a>
    <a href="#" class="option-menu">Acerca de Amelica</a>
    <a href="#" class="option-menu">Proyecto Conocimiento Ancestral</a>
    <a href="#" class="ico-sidebar"><img class="ico-sidebar" src="assets/img/ic-home.png" alt=""> </a>
    <a href="#" class="ico-sidebar"><img class="ico-sidebar" src="assets/img/ic-facebook.png" alt=""></a>
    <a href="#" class="ico-sidebar"><img class="ico-sidebar" src="assets/img/ic-twitter.png" alt=""></a>
</div>
<main id="main" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0px; padding: 0px;">
    <section id="header" style="top: 0px; position: fixed; width: 100%; z-index: 1;">
        <div style="color: #fff !important; display: flex; ">
            <div id="logo-CA" style="width: 50%;">
                <a href="#"><img src="assets/img/logoCA.png" alt=""></a>
            </div>
            <div id="menu" style="">
                <div id="contenedor-menu" style="">
                    <a href="http://amelica.org/index.php/que-es-ameli/" class="option-menu">Acerca de Amelica</a>
                    <a href="http://148.215.2.20:8080/CAncestral-0.0.1-SNAPSHOT/AcercaCA" class="option-menu">Proyecto
              Conocimiento Ancestral</a>
                </div>
                <div id="logos" style="width: 25%;">
                    <a href="#"><img src="assets/img/ic-home.png" alt=""> </a>
                    <a href="#"><img src="assets/img/ic-facebook.png" alt=""></a>
                    <a href="#"><img src="assets/img/ic-twitter.png" alt=""></a>
                </div>
                <a onclick="openNav()">
                    <div id="menu-colap">
                        <i class="fa fa-bars"></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="social" id="social">
        <div>
            <div id="menu-buscador" class="btn-menu">
                <a ng-href="#contenedor-banner" id="btn-buscador" class="fab" title="Buscador"></a>
            </div>
            <div id="menu-nube" class="btn-menu">
                <a ng-href="#contenedor-nube" id="btn-nube" class="fab" title="Buscador"></a>
            </div>
            <div id="menu-pais" class="btn-menu">
                <a ng-href="#contenedor-mapa" id="btn-pais" class="fab" title="Buscador"></a>
            </div>
            <div id="menu-documentos" class="btn-menu">
                <a ng-href="#contenedor-ultimos-documentos" id="btn-documentos" class="fab" title="Buscador"></a>
            </div>
        </div>
        <!-- <ul>
          <li id="menu-buscador"> <a href="#contenedor-banner"  class="fab" title="Buscador"></a></li>
          <li id="menu-nube"> <a href="http://localhost:8080/CAncestralWeb/#contenedor-nube"  class="fab" title="Articulos por palabra clave"></a></li>
          <li id="menu-pais"> <a href="#contenedor-mapa" class="fab" title="Busqueda por pais"></a></li>
          <li id="menu-documentos"> <a href="#contenedor-ultimos-documentos" class="fab" title="Listado de publicaciones"></a></li>
        </ul> -->
    </div>
    <div id="contenedor-banner" style="text-align: center; position: relative;">
        <div style="width: 100%;">
            <div id="contenedor-buscador">
                <div id="titulo-buscador"><span>Buscador</span></div>
                <div id="buscador">
                    <input #palabra (keyup.enter)="buscarTexto(palabra.value)" id="input-buscar" type="text" name="input-articulo" value="" placeholder="Buscar palabra" />
                    <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" name="boton-buscar-articulo" alt="Buscar" />
                </div>
            </div>
            <div id="contenedor-numeralias">
                <div class="linea-num">10000 articulos</div>
                <div class="linea-num">1000 libros</div>
                <div>10 paises</div>
            </div>
            <div id="contenedor-resumen">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived
            </div>
            <div id="contenedor-logos">
                <div>
                    <a href="#"><img src="assets/img/ic-amelica-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-unesco-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-clacso-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <section id="contenedor-nube" ng-init="nube()">
        <div style="display:flex; flex-wrap: wrap;">
            <div id="titulo-nube">Articulos por palabra clave</div>
            <div id="nube">
                <!-- <div id="wordCloud"></div> -->
                <div id="wordCloud" charset="utf-8"></div>
            </div>

        </div>
    </section>
    <section id="contenedor-mapa">
        <div style="width: 100%; height: 99%; display:flex; flex-wrap:wrap;">
            <div id="titulo-pais">Búsqueda por país</div>
            <!-- <div id="chartdiv" style="width:80%; margin: 0 auto; height: 70%;"></div> -->
            <!-- <div id="chartdiv" style="width: 100%; height: 500px"></div> -->
            <app-mapa style="width: 100%; height: 100%;"></app-mapa>
        </div>
    </section>
    <section id="contenedor-ultimos-documentos">
        <div>
            <div>
                <app-ultimos-articulos></app-ultimos-articulos>
            </div>
        </div>

    </section>
    <section id="footer" style="color:white">
        <div>
            <!-- <div id="contenedor-logos">
          <div><a href="#"><img src="img/ic-amelica-footer.png"></a></div>
          <div><a href="#"><img src="img/ic-unesco-footer.png"></a></div>
          <div><a href="#"><img src="img/ic-clacso-footer.png"></a></div>
          <div><a href="#"><img src="img/ic-redalyc-footer.png"></a></div>
        </div>  -->

            <div id="contendor-footer">
                <div id="instituciones-footer">
                    <div>
                        <a href="#"><img src="assets/img/ic-amelica-footer.png" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="assets/img/ic-unesco-footer.png" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="assets/img/ic-clacso-footer.png" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
                    </div>
                </div>
                <div id="resumen-footer" style="width: 40%">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived</div>


            </div>
        </div>
    </section>

</main>