<!-- Inicia Header  -->
<app-header></app-header>
<!--  termina Header    -->

<div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 40px; ;"> Búsqueda General
    <input #palabra (keyup.enter)="buscar(palabra.value)" style="width: 30%; background-image: url(assets/img/buscador.png);" type="text" placeholder="Introducir criterio de búsqueda">
    <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" name="boton-buscar-articulo" alt="Buscar" />
</div>

<div class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png" style="margin: 10px;">Filtros de Búsqueda</div>
        <div class="cursor" [routerLink]="['/busquedarev']" style="text-align:center;" (click)="limpiarDatos()"><img src="assets/img/revista.png" style="margin: 10px;">Revistas</div>
        <div class="seleccionado alinear" (click)="limpiarDatos()"><img src="assets/img/articulos-act.png" style="margin: 10px;">Artículos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div class="cursor" [routerLink]="['/vista-art-tab']"><img src="assets/img/lista.png" style="margin: 10px;">Lista </div>
        <div class="seleccionado"><img src="assets/img/tarjetas-act.png" style="margin: 10px;">Tarjetas </div>
    </div>
</div>

<!--  Inicia menu horizontal sin grid   -->
<!--  Terina  menu horizontal sin grid   -->

<!--  Filtros menu  -->
<div class="grid-container">
    <div class="item2">
        <app-filtros></app-filtros>
    </div>

    <!-- Termina Filtros menu   -->
    <div class="item3">
        <div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;">
            <p style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;">Resultados para: {{total.palabra}} </p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;" [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> Resultados de la Búsqueda: {{ total.total}} </p>
        </div>
        <app-globitos></app-globitos>

        <app-tarjeta-articulos></app-tarjeta-articulos>


        <app-paginador-articulos></app-paginador-articulos>

    </div>

</div>


<app-footer></app-footer>