
<app-header></app-header>



<div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 40px; ;"> Busqueda General
    <input #palabra (keyup.enter)="buscar(palabra.value)" style="width: 30%; background-image: url(assets/img/buscador.png);  " type="text">
    <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" name="boton-buscar-articulo" alt="Buscar" />
</div>


<div class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png" style="margin: 10px;">Filtros de Busqueda</div>
      
        <div (click)="limpiarDatos()"><img src="assets/img/articulos.png" style="margin: 10px;">Articulos de revista</div>
        <div style="margin-left: 40%;">Modo de visualizar resultados </div>
        <div class="cursor" [routerLink]="['/PalClav-table/',total.palabra]"><img src="assets/img/lista.png" style="margin: 10px;">Lista </div>
        <div ><img src="assets/img/tarjetas.png" style="margin: 10px;">Tarjetas </div>
    </div>
</div>


<!--  Filtros menu  -->
<div class="grid-container">
  <div class="item2">
    <app-filtpalclav></app-filtpalclav>    
  </div>

    <!-- Termina Filtros menu   -->
    <div class="item3">
        <div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;">
            <p style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;" >Resultados para: {{total.palabra}} </p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;" [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> Resultados de la Busqueda: {{ total.total}} </p>
        </div>
        <app-globitos-pal-clav></app-globitos-pal-clav>


<div class="flex-containercont">

    <div class="articulo" id="example1" *ngFor="let articulo of articulos">
        <div *ngIf="articulo.origen === 'PDF'" style="font-size: 10pt; color: #4762b2; font-family: Barlow-Bold; margin-bottom: 0px; padding-top: 0px; "><a href="https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank">{{  articulo.tituloArt | tituloArticulo }}</a></div>
        <div *ngIf="articulo.origen === 'XML'" style="font-size: 10pt; color: #4762b2; font-family: Barlow-Bold; margin-bottom: 0px; padding-top: 0px; "><a href="https://www.redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/index.html" target="_blank">{{  articulo.tituloArt | tituloArticulo }}</a></div>
        <p>{{ articulo.autores | autoresArticulo}}</p>
        <p>{{ articulo.nombreRevista }}, {{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }}) </p>
        <p >Fuente: {{ articulo.fuente}} </p>
        <p [innerHTML]='articulo.contenido'>{{ articulo.contenido }}</p>
       <div style="display: flex;"> 
         <p>Palabras clave: </p> <p [innerHTML]='articulo.palClave'>{{articulo.palClave}} </p> 
      </div>
        
        <br>



        <div *ngIf="articulo.dominio === 'https://www.redalyc.org'" >
          <div *ngIf="articulo.origen === 'PDF'" style="display: flex;">
            <p  style="font-size: 10pt; color: #4762b2; margin-bottom: 0px; padding-top: 3px;">Texto Completo:  </p>
                <button class="button1"><a  href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}"  target="_blank">PDF</a></button>
  
                <a style="margin-left: 75%;" href="http://www.facebook.com/sharer.php?u=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}}" class="facebook" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"> <img target="_blank" src="assets/img/tar-face.png" alt=""></a>
                <a href="https://twitter.com/intent/tweet?original_referer=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} &amp;text={{  articulo.tituloArt | tituloArticulo }} https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} vía @Ameli_CA" class="twitter" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><img  src="assets/img/tar-twit.png" alt=""></a>
             
          </div>
          
            <div *ngIf="articulo.origen === 'XML'" style="display: flex;" >
              <p  style="font-size: 10pt; color: #4762b2; margin-bottom: 0px;">Texto Completo: </p>
                <button class="button1"><a href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/html/index.html" target="_blank">HTML-R</a> </button>
                <button class="button1"><a href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/{{articulo.claveArt}}.epub" target="_blank">ePUB-R</a></button>
                <button class="button1"><a href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/movil/index.html" target="_blank">MÓVIL-R</a></button>
                <button class="button1"><a href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}"  target="_blank">PDF</a></button>
                <a style="margin-left: 56%;" href="href=http://www.facebook.com/sharer.php?u=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}}" class="facebook" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"> <img  target="_blank" class="img-footer" src="assets/img/tar-face.png" alt=""></a>
                <a  href="https://twitter.com/intent/tweet?original_referer=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} &amp;text={{  articulo.tituloArt | tituloArticulo }} https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} vía @Ameli_CA" class="twitter" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><img target="_blank" class="img-footer" src="assets/img/tar-twit.png" alt=""></a>
              </div>    			
      </div>





    </div>
</div>



       <app-paginador-pal-clav></app-paginador-pal-clav>

    </div> 


</div>
<app-footer></app-footer>