<!-- Inicia Header  -->
<app-header></app-header>
<!--  termina Header    -->



<div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 40px; ;"> Búsqueda General
    <input #palabra (keyup.enter)="buscar(palabra.value)" style="width: 30%; background-image: url(assets/img/buscador.png);  " type="text" placeholder="Buscar palabra">
    <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" name="boton-buscar-articulo" alt="Buscar" />
</div>

<div class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png" style="margin: 10px;">Filtros de Búsqueda</div>
        <div class="seleccionado" style="text-align:center;"><img src="assets/img/revista.png" style="margin: 10px;">Revistas</div>
        <div class="cursor alinear" [routerLink]="['/busquedaGeneral']"><img src="assets/img/articulos.png" style="margin: 10px;">Artículos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div class="seleccionado"><img src="assets/img/lista.png" style="margin: 10px;">Lista </div>
        <div class="cursor" [routerLink]="['/busquedarev']"><img src="assets/img/tarjetas.png" style="margin: 10px;">Tarjetas </div>
    </div>
</div>



<div class="grid-container">
    <div class="item2">
        <app-filtros-revista></app-filtros-revista>

    </div>

    <!-- Termina Filtros menu   -->
    <div class="item3">
        <div>
            <app-vista-tabla></app-vista-tabla>
        </div>

        <app-paginador></app-paginador>

    </div>




    <div class="item4">
        <div id="contendor-footer">
            <div id="instituciones-footer">
                <div>
                    <a href="#"><img src="assets/img/ic-amelica-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-unesco-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-clacso-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
                </div>
            </div>
            <div id="resumen-footer" style="width: 40%">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived</div>


        </div>
    </div>