<!-- Inicia Header  -->
<div class="grid-containerh">
    <div class="item1">
        <div style="padding-left: 5%; margin: 5px 10px;">Colección <strong>Conocimiento Ancestral</strong></div>
        <div style="padding-left: 45%; margin: 5px 10px;;">Acerca de AmeliCA</div>
        <div style="margin: 5px 10px;">Proyecto Conocimeinto Ancestral</div>
        <div style="margin: 0px 10px;"><img src="assets/img/ic-home.png" alt=""></div>
        <div style="margin: 0px 10px;"><img src="assets/img/ic-facebook.png" alt=""></div>
        <div style="margin: 0px 10px;"><img src="assets/img/ic-twitter.png" alt=""></div>
    </div>
</div>
<!--  termina Header    -->



<div style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 40px; ;"> Búsqueda General
    <input #palabra (keyup.enter)="buscar(palabra.value)" style="width: 30%; background-image: url(assets/img/buscador.png);  " type="text" placeholder="Buscar palabra">
</div>

<div class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png" style="margin: 10px;">Filtros de Búsqueda</div>
        <div class="seleccionado" style="text-align:center;"><img src="assets/img/revista.png" style="margin: 10px;">Revistas</div>
        <div class="cursor alinear" [routerLink]="['/busquedaGeneral']"><img src="assets/img/articulos.png" style="margin: 10px;">Artículos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div class="seleccionado"><img src="assets/img/lista.png" style="margin: 10px;">Lista </div>
        <div class="cursor" [routerLink]="['/busquedarev']"><img src="assets/img/tarjetas.png" style="margin: 10px;">Tarjetas </div>
    </div>
</div>



<div class="grid-container">
    <div class="item2">
        <app-filtros-revista></app-filtros-revista>

    </div>

    <!-- Termina Filtros menu   -->
    <div class="item3">
        <div>
            <app-vista-tabla></app-vista-tabla>
        </div>



        <!-- <div style="margin-left: 40%; font-family: Barlow-Regular; font-size: 10pt;">Pag. Actual: {{total.pos}} </div>


        <div style="margin-left: 20%; font-family: Barlow-Regular; font-size: 10pt;">
            <button *ngIf="getCount() > 1 " (click)="primerPagina()" class="button2">Primer Pagina </button>


            <button *ngIf="getCount() > 1 " (click)="incDCount()" class="button2">Pagina Anterior </button>




            <button *ngIf="getFin() == 1 && total.final > 1 " (click)="incCount()" class="button2">Pagina Siguiente</button>

            <button *ngIf="getFin() == 1 && total.final > 1 " (click)="ultimapagina(total.final)" class="button2">Ultima Pagina ({{total.final}})</button>

        </div> -->

        <app-paginador></app-paginador>

    </div>




    <div class="item4">
        <div id="contendor-footer">
            <div id="instituciones-footer">
                <div>
                    <a href="#"><img src="assets/img/ic-amelica-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-unesco-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-clacso-footer.png" /></a>
                </div>
                <div>
                    <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
                </div>
            </div>
            <div id="resumen-footer" style="width: 40%">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived</div>


        </div>
    </div>