<!-- Inicia Header  -->
<app-header></app-header>
<!--  termina Header    -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffffff" type="square-loader" [fullScreen]="true">
    <p class="loading">Cargando resultados de búsqueda...</p>
</ngx-spinner>
<section id="searches">
    <app-banner-searches [sectionCountry]=true></app-banner-searches>
</section>
<div class="searcher flex">
    <div class="img-country">
        <img src="assets/img/pais-a.png"> {{articles[0]?.nombrePais}}
    </div>

    <p class="sel-country">{{ 'busqueda.banner.pais' | translate }}</p>
    <select id="list-countries" #country (change)="searchArticlesByCountry(country.value)">
        <option *ngFor="let country of listCountries" value="{{country.clave}}" #country.name>{{country.name}}</option>
    </select>
</div>

<div *ngIf="total.palabra && total.palabra != 'allArt' " class="grid-containerh2">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <!--       <div class="cursor" [routerLink]="['/busquedarev',total.palabra]" (click)="limpiarDatos()"><img src="assets/img/revista.png">Revistas</div> -->
        <div class="seleccionado alinear"><img src="assets/img/articulos-act.png">Articulos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div (click)="changeView(false)" [ngClass]="{'activate': !view, 'selected': !view, 'cursor': view}"><img [src]="imgList">Tabla</div>
        <div (click)="changeView(true)" [ngClass]="{'activate': view, 'selected': view, 'cursor': !view}"><img [src]="imgTable">Lista</div>
    </div>
</div>

<!--  Filtros menu  -->
<div *ngIf="total.palabra && total.total >= 1" class="grid-container">

    <div *ngIf="total.total >= 0" class="item2">
        <!-- <app-filtros></app-filtros> -->
        <app-filters [filters]="filters"></app-filters>
    </div>



    <!-- Termina Filtros menu   -->
    <div class="item3">

        <div *ngIf=" positionPage !== finalPositionPage" class="texto-resultados">
            <p class="texto-formato tamaño-resul-pal">Artículos publicados en revistas de: {{articles[0]?.nombrePais}}</p>
            <p class="texto-formato tamaño-resul-busqueda" [attr.colspan]="total.total"> {{positionPage * 10 - 9}} a {{positionPage * 10}} de {{totalResults}} artículos </p>
        </div>

        <div *ngIf="positionPage === finalPositionPage" class="texto-resultados">
            <p class="texto-formato tamaño-resul-pal">Artículos publicados en revistas de: {{articles[0]?.nombrePais}}</p>
            <p class="texto-formato tamaño-resul-busqueda" [attr.colspan]="total.total"> {{positionPage * 10 - 9}} a {{totalResults}} de {{totalResults}} artículos </p>
        </div>

        <!-- <app-globitos></app-globitos> -->
        <app-balloons></app-balloons>

        <div *ngIf="total.total < 1" class="no-resultados">
            no hay resultados.
        </div>

        <div *ngIf="totalResults >= 1">

            <app-target [articles]="articles" *ngIf="view"></app-target>
            <app-table [articles]="articles" *ngIf="!view"></app-table>


            <!-- <app-paginador-articulos></app-paginador-articulos> -->
            <!-- <app-nuevo-paginador [totalResult]="totalResults" (position)="setPosition($event)"></app-nuevo-paginador> -->
            <app-pagination [totalResult]="totalResults"></app-pagination>
        </div>

    </div>

</div>

<div *ngIf="total.total <= 0 && total.palabra && total.palabra != 'allArt' " class="resultados">
    <p>No se han encontrado resultados </p>
    <p>Realice una nueva búsqueda.</p>
</div>

<div *ngIf="!total.palabra && total.total <= 0" class="resultados">

    <p></p>
</div>

<div *ngIf="total.palabra == 'allArt'" class="resultados">

    <p></p>
</div>

<app-footer></app-footer>