<section id="header-acerca-de" style="top: 0px; position: fixed; width: 100%; z-index: 1;">
    <div id="header-float">
        <div id="logo-CA">
            <a href="#"><img src="/assets/img/logoCA.png" alt=""></a>
        </div>
        <div id="menu">
            <div id="contenedor-menu">
                <a href="#" class="option-menu">Acerca de Amelica</a>
                <a href="#" class="option-menu">Proyecto Conocimiento Ancestral</a>
            </div>
            <div id="logos">
                <a href="#"><img src="/assets/img/ic-home.png" alt=""></a>
                <a href="#"><img src="/assets/img/ic-facebook.png" alt=""></a>
                <a href="#"><img src="/assets/img/ic-twitter.png" alt=""></a>
            </div>
        </div>
    </div>
</section>

<section id="contenedor-banner">
    <div id="contenedor-secundario-banner">
        <div class="titulo">
            <p>Proyecto</p>
            <div class="subtitulo">
                <p>Conocimiento Ancestral</p>
            </div>
        </div>

        <div class="texto-banner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptates, quia dolorem fuga tenetur, earum impedit optio ad velit eum quas? Eveniet eum maiores provident, accusantium deleniti pariatur tempora quod. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Voluptates quaerat enim commodi. Itaque nam deleniti culpa enim numquam quas, consequatur delectus doloremque dolores sint iusto inventore. Quo, eaque quibusdam. Adipisci.
            </p>
        </div>
        <div>
            <button class="button button1">Lorem</button>
        </div>
    </div>
</section>

<section id="contenedor-nube">
    <div>
        <div class="text-position text-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum.
            </p>
            <p>
                Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos!
                Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi um suscipit
                dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis! Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque
                esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi
                cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
            </p>

            <p class="contenedor-nube-texto texto-azul">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quos labore fugiat voluptatibus culpa deserunt libero?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius id optio consectetur voluptatum accusantium adipisci repellendu suscipit fugiat. Reprehenderit, minus. Incidunt reiciendis esse autem error ullam possimus necessitatibus earum?
            </p>
        </div>
        <div>
            <img style="width: 45%; " class="img-right" src="/assets/img/maguey-circulo.png">
        </div>
    </div>



    <div class="text-position text-right">

        <div>

            <p class="contenedor-nube-texto texto-amarillo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quos labore fugiat voluptatibus culpa deserunt libero?
            </p>


            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum.

            <br>
            <p>
                Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos!
                Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi um suscipit
                dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis! Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque
                esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi
                cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
            </p>

            <br>


            <br>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius id optio consectetur voluptatum accusantium adipisci repellendu suscipit fugiat. Reprehenderit, minus. Incidunt reiciendis esse autem error ullam possimus necessitatibus
                earum?
            </p>

        </div>

    </div>
    <div> <img class="img-left " src="/assets/img/machupichu-circulo.png "> </div>
</section>

<footer id="footer">
    <div class="footer-center">

        <div class="flex-container">
            <a style="flex-grow: 2.5"><img class="opcionindividualftlog" src="/assets/img/ic-amelica-footer.png"> </a>
            <a style="flex-grow: 2.5"><img class="opcionindividualftlog" src="/assets/img/ic-unesco-footer.png"></a>
            <a style="flex-grow: 2.5"><img class="opcionindividualftlog" src="/assets/img/ic-clacso-footer.png"></a>
            <a style="flex-grow: 2.5"><img class="opcionindividualftlog" src="/assets/img/ic-redalyc-footer.png"></a>

        </div>

        <div id="copy">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT. SUNT, LAUDANTIUM, QUIBUSDAM? NOBIS, DELECTUS, COMMODI, UGIT AMET TEMPORA FACERE DOLORES NISI FACILIS CONSEQUATUR,ODIO HIC MINIMA NOSTRUM. PERFERENDIS EOS EARUM PRAESENTIUM, BLANDITIIS SAPIENTE
            LABORE ALIQUAM IPSA ARCHITECTO VITAE.
        </div>

    </div>
</footer>